<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <h2>Welcome to ReelTalk</h2>
        <p>Your place to review and talk about movies.</p>

        <% if (message && message.length) { %>
        <p style="color: green"><%= message %></p>
        <% } %>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
